---
coverY: 200.84452975047984
---

# 🔎 Verification

## verify

Begin the Fairplay Verification process

### Interaction ID

1043787259922616300

### Usage

`/verify`

## reinvite

Reinvite your setup account to the realm

### Interaction ID

1043787259922616300

### Usage

`/reinvite`

## vdisconnect

Remove your account from fairplay database

### Interaction ID

1043787259989741600

### Usage

`/vdisconnect`
