---
coverY: 200.84452975047984
---

# 🔎 Verification


<details>

<summary>/<mark style="color:orange;">verify</mark></summary>

Begin the Fairplay Verification process

`/verify`

ID# 1043787259922616300

</details>


<details>

<summary>/<mark style="color:orange;">reinvite</mark></summary>

Reinvite your setup account to the realm

`/reinvite`

ID# 1043787259922616300

</details>


<details>

<summary>/<mark style="color:orange;">vdisconnect</mark></summary>

Remove your account from fairplay database

`/vdisconnect`

ID# 1043787259989741600

</details>
